<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Welcome to create movies page</p>
    <form action="/createMovie" method="POST">
      Name: <input type="text" id="name" name="name"><br><br>
      Languages: <input type="text" id="language" name="language"><br><br>
      Genres: <input type="text" id="genres" name="genres"><br><br>
      <input type="submit" value="Submit">
      <br><br>
    <a href="/menu">Back to menu </a>

  </body>
</html>
