<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Welcome to menu page</p>
    <a href="/createMovie">To create movies page</a> <br> <br>
    <a href="/searchMovies">To search movies page</a> <br> <br>
    <%if (isAdmin===true) { %>
      <a href="/editUsers">To users management page</a>
    <% }%>
      


  </body>
</html>
