<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <p>Welcome to search movies page</p>
  <form action="/searchMovies" method="POST">
    Name: <input type="text" id="name" name="name"><br><br>
    <label for="language">Choose a language:</label>
    <select name="language" id="language">
      <option value="choose">Choose a language</option>
      <option value="Hebrew">Hebrew</option>
      <option value="English">English</option>
      <option value="Spanish">Spanish</option>
    </select>
    <br><br>
    <label for="genres">Choose a genre:</label>
    <select name="genres" id="genres">
      <option value="choose">Choose a genre</option>
      <option value="Drama">Drama</option>
      <option value="Action">Action</option>
      <option value="Humor">Humor</option>
    </select>
    <br><br>
    <input type="submit" value="Search">
    <br><br>
    <a href="/menu">Back to menu </a>
</body>

</html>